#teaser {
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
}

#teaser .logo {
  cursor: pointer;
}

#map {
  margin: 5px 0;
}

#lead_top {
  margin-bottom: 5px;
}

.container {
  width: 95%;
}
